{% extends 'base.html' %}
{%block content%}

<div class="reportform" style="margin-left: 25%;"><br>
{% with messages = get_flashed_messages() %}
    {% if messages %}  
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible show" role="alert">
      {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
{% endwith %}

<form class="actualreportform" method="POST" style="align-items: center; margin-top: 8%; text-align: center;">
    <label for="date" style="font-size: 30px; display:block; text-align: center; ">From </label><br>
    <input type="date" id="stdate" name="stdate" style="font-size: 22px; align-self: middle; border-radius: 8px; background-color: #d9d9d9; width: 200px; text-align: center;" required max="{{datestr}}">
    <br><br>
    <label for="date" style="font-size: 30px; display:block; text-align: center;">To </label><br>
    <input type="date" id="enddate" name="enddate" style="font-size: 22px; border-radius: 8px; background-color: #d9d9d9; width: 200px; text-align: center;" required max="{{datestr}}" >
    <br><br><br><br>
    <input type="submit" class="submit" name="generatereport" id="generatereport" value="Generate Report" style="border-radius: 15px;width: 175px; height: auto; font-size: 18px;" >
</form>
</div>

{%endblock%}