{%extends 'AdminEmpPage.html'%}
{%block admincontent%}

<div id="adminLeave" class="w3-container city"><br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}  
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible show" role="alert">
      {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
      <form class="form" id="Leave" method="POST"><br><br>   
        <div id="leavedatestamp"> 
            <label for="date" style="font-size: 24px;">Select Date: </label><br>
            <input type="date" id="calender" name="leavecalender" style="font-size: 20px; border-radius: 8px; background-color: #d9d9d9; width: 180px;" required max="{{datestr}}" min="{{days_ago}}">
        </div><br>
    <label for="leave" style="font-size: 24px;">Leave Type:</label><br>
    <select id="leavetype" name="leavetype" onchange="showInput()" style="width:550px;border-radius: 8px; font-size: 22px; ">
    <option disabled selected></option>
    <option value="PDC - HALF DAY">PDC - HALF DAY</option>
    <option value="LTCEL - HALF DAY">LTCEL - HALF DAY</option>
    <option value="PDC - FULL DAY">PDC - FULL DAY</option>
    <option value="LTCEL - FULL DAY">LTCEL - FULL DAY</option>
  </select><br><br>
  <div id="input-container">
    <label for="text" style="font-size: 24px;">Hours:</label><br>
    <input type="number" id="number" name="number" min="3.5" style="font-size: 22px; border-radius: 8px; background-color: #d9d9d9; width: 180px;" max="4" step="0.5"><br>
  </div>
  <br><br>
  <input type="submit" class="submit" style=" width: 150px; height: auto;" placeholder="Submit" name="LeaveSubmit">
</form>
<script>
  document.getElementById("number").disabled = true
    function showInput() {
      var type = document.getElementById("leavetype").value;
      if (type == "PDC - HALF DAY") {
        document.getElementById("number").value = "4";
        document.getElementById("number").setAttribute("min","4");
        document.getElementById("number").setAttribute("max","4");
      } else if (type == "PDC - FULL DAY") {
        document.getElementById("number").value = "8";
        document.getElementById("number").setAttribute("min","8");
        document.getElementById("number").setAttribute("max","8");
      } else if (type == "LTCEL - HALF DAY") {
        document.getElementById("number").value = "3.5";
        document.getElementById("number").setAttribute("min","3.5");
        document.getElementById("number").setAttribute("max","3.5");
      } else if (type == "LTCEL - FULL DAY") {
        document.getElementById("number").value = "7";
        document.getElementById("number").setAttribute("min","7");
        document.getElementById("number").setAttribute("max","7");
      }
     else {
        document.getElementById("input-container").innerHTML = '';
      }

    }
  </script>
{%endblock%}