{%extends 'AdminEmpPage.html'%}
{%block admincontent%}
<div id="Daily" class="w3-container city"><br>

    {% with messages = get_flashed_messages(category_filter = ['error']) %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter = ['success']) %}
    {% if messages %}  
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <style>
        body{
            font-family: Verdana;   
        }
        .center {
  display: block;
  margin-left: 40%;
  margin-right: 50%;
  width: 50%;
}
.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
        table {
            border-collapse: collapse;
            width: 500px;
            height: 100px;
            overflow-y: auto;
            font-family: Verdana;
            border-collapse: collapse;
            width: 100%;
            font-size: small;
        }

        td, th {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        tr:nth-child(even){
            background-color: #f2f2f2;
        }

        .table-wrapper {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            margin: 0 auto;
            max-width: 700px;
            padding: 10px;
        }

        .table-wrapper table {
            display: block;
            overflow-y: auto;
        }

        .table-wrapper table:not(:last-child) {
            margin-right: 20px;
        }
        .search-container {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .search-box {
            padding: 5px;
            margin-right: 10px;
            width: 550px;
        }
        th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #003f72;
        color: white;
      }
    </style>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/view_assigned_tasks" style="color: #003f72; font-size: 22px;">View Assigned Tasks</a>
  </li>
</ul>
{% with messages = get_flashed_messages() %}
{% if messages %}  
{% for message in messages %}
<div class="alert alert-success alert-dismissible show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
  <form class="form" id="dls" method="POST"><br><br>   
        <div id="datestamp"> 
            <label for="to" style="font-size: 24px;">Due Date: </label>
            <input type="date" id="calender" name="calender" placeholder="DD-MM-YYYY" style="font-size: 20px; border-radius: 8px; background-color: #d9d9d9; width: 180px;" required max="{{datestr}}" min="{{days_ago}}">
            <br><br>
         </div> 
         
    <label for="project" style="font-size: 24px;">Project:</label><br>
    <select id="project" name="project" style="width:550px;border-radius: 8px; font-size: 22px; " required  onchange="holiday()">
      <option disabled selected value></option>
      {% for projects in project %}
      <option value="{{projects}}">{{projects}}</option>      
      {% endfor %}      
    </select>
    <br>
    <div class="holiday-section-edit" id="holiday-section-edit">
    <label for="workfield" style="font-size: 24px;">Field of Work:</label><br>
    <select id="workfield" name="workfield" style="width:550px;border-radius: 8px; font-size: 22px;" required >
      <option disabled selected value> </option>    
      {% for workfield in fieldowork%}
      <option value="{{workfield}}">{{workfield}}</option>
      {% endfor %}
    </select>
    <br>

   

      <label for="manhours" style="font-size: 24px; display: inline-block;">Assign Total Man Hours:</label><br>
      <input type="number" id="manhours" name="manhours" min="0.5" step="0.25" style="border-radius: 8px; font-size: 22px; background-color: #d9d9d9; width: 200px; display: inline-block;">    
      </select> 
      <br>
      <label for="emptable" style="font-size: 24px; display: inline-block; padding-left: 0%; position: absolute; margin-top: 2px;">Assign to:</label><br>
      <input type="text" class="search-box" placeholder="Search by PS Number" id="myInput1" onkeyup="myFunction1()" style="border-radius: 8px; align-self: center;font-size: 16px; border-radius: 8px; background-color: #d9d9d9; width: 180px; width: 325px;" ><br>
      <br>
      <script>
        function myFunction1() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput1");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable1");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
        </script>
    <table id="myTable1" style="border-radius: 8px;">
        <thead style="width: auto;">
            <tr style="font-size: small;">
                <th>PS Number</th>
                <th>Employee Name</th>
                <th><input type="checkbox" id="select-all1"></th>
            </tr>
        </thead>
        <tbody>
          {%for row in table1_data%}
          <tr>
            <td>{{row[0]}}</td> 
            <td>{{row[1].replace('_',' ')}}</td>
            <td><input type="checkbox" id="checkbox_{{row[0]}}" value="{{row[0]}}" name="selected-employee-list"></td>
          </tr>
          {%endfor%}
      </tbody>
    </table>

      <label for="Comments" style="font-size: 24px; ">Comments:</label><br>
      <textarea name="Comments" rows="5" cols="30" id="comments" style = 'border-radius: 8px; font-size: 20px; width: 550px; background-color: #d9d9d9;'></textarea>
      <br><br>
    </div>
      <input type="submit" class="submit"><br>
</form>
    </div>

{%endblock%}
